@model DesarrolloAprendeLibre.Models.Clase

@{
    ViewData["Title"] = "Eliminar Clase";
}

<h2>Eliminar Clase</h2>

<h3>¿Estás seguro que deseas eliminar esta clase?</h3>

<div>
    <h4>Clase</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Materia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Materia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubirArchivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubirArchivo)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="IdClase" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
